<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.callstack.agentdevice.multitouchhelper">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />

    <application
        android:debuggable="false"
        android:label="Agent Device MultiTouch Helper"
        android:testOnly="true"
        android:theme="@android:style/Theme.NoDisplay" />

    <instrumentation
        android:name=".MultiTouchInstrumentation"
        android:targetPackage="com.callstack.agentdevice.multitouchhelper"
        android:label="Agent Device MultiTouch Helper"
        android:functionalTest="true" />
</manifest>
